header 
{
 position: fixed;
 width: 100%;
 z-index: 10000;
 height: 40px;
 top: 0px;
 left: 0px;
 border: 1px solid;
 margin: auto; 
}

h7
{
font-size: 30px;
}
h7
{
font-style: bold;
}
h5
{
allign-self:center;
}
// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
